*{margin: 0; padding: 0; box-sizing: border-box;}
html,body{
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: #000000;
    background: #E5E5E5;
}
.page-header{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 28px 0;
}
.header-logo{
    display: block;
}
.top-banner{
    width: 100%;
    display: block;
}
.infocard-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 66px 2% 186px 2%;
    background: #E5E5E5;
}
.infocard-top-text{
    width: 100%;
    max-width: 766px;
    margin-bottom: 66px;
    text-align: center;
}
.infocard-top-text h2{
    font-size: 32px;
    font-weight: 400px;
    text-transform: uppercase;
}
.infocard-top-text h1{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 24px;
}
.infocard-top-text p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    text-align: left;
}
.infocard-top img{
    display: block;
    width: 100%;
    max-width: 315px;
}
.top-cards{
    background: #E5E5E5;
    display: grid;
    grid-template-columns: repeat(3,max-content);
    gap: 20px;
    padding-bottom: 80px;
    justify-content: center;
}
.top-card{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 26px 26px 26px;
}
.top-card > img {
    display: block;
    margin-bottom: 30px;
}
.top-card > p {
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.triple-banner{
    display: block;
    background: #E0E0E0;;
    height: 442px;
    width: 100%;
}
.triple-banner-wrap{
    display: grid;
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    gap: 32px;
    position: relative;
    top: 64px;
    width: 100%;
}
.triple-banner img{
    width: 100%;
    max-width: 556px;
}
.bottom-cards{
    margin-top: calc(141px + 138px);
    display: grid;
    grid-template-columns: repeat(4,max-content);
    column-gap: 16px;
    justify-content: center;
    background: #E5E5E5;
}
.bottom-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    padding: 32px 32px 66px 32px;
}
.bottom-card img{
    margin-bottom: 30px;
}
.bottom-card p{
    width: 100%;
    max-width: 366px;
    text-align: center;
}
.info-card-bottom{
    padding: 138px 0 104px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-card-bottom h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 18px;
    line-height: 20px;
    text-align: center;
}
.info-card-bottom p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin-bottom: 32px;
}
.info-card-bottom img{
    width: 100%;
    max-width: 1360px;
}
.page-footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
}
.footer-icons{
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}
.footer-icons li{
    margin: 0 8px;
}
.page-footer p{
    color: white;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 10px;
}
/* INICIO DAS MEDIA QUERY */
/* INICIO DAS MEDIA QUERY */

@media screen and (max-width:414px){
    .top-banner-desktop,.banner-bottom-desk{
        display: none;
    }
    
    .infocard-top-text{
        max-width: 357px;
    }
    .infocard-top-text h2{
        font-size: 20px;
    }
    .infocard-top-text h1{
        font-size: 28px;
    }
    .infocard-top-text p{
        text-align: center;
    }
    .infocard-top img{
        max-width: 240px;
    }
    .info-card-bottom img{
        order: 1;
    }
    .info-card-bottom h1{
        font-size: 24px;
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 18px;
        line-height: 20px;
        text-align: center;
        order: 2;
    }
    .info-card-bottom p{
        order: 3;
        font-size: 16px;
        padding: 0 32px;
    }
}
@media screen and (min-width:415px){
    .top-banner-mobile,.banner-bottom-mob{
        display: none;
    }
}
@media screen and (max-width:768px){
    .top-cards{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 32px 80px;
        gap: 24px;
        }
        .info-card-bottom h1{
            line-height: 26px;
        }
        .page-footer{
            padding-bottom: 26px;
        }
        .page-footer p {
            max-width: 280px;
            text-align: center;
        }
}
@media screen and (max-width:800px){
    .triple-banner-wrap{
       display: grid;
       grid-template-columns: repeat(2,max-content);
       column-gap: 14px;
       row-gap: 23;
       position: relative;
       top: 32px;
    }
    .triple-banner img{
        width: 100%;
        max-width: 178px;
        display: block;
    }
    img.image-last-colum{
        width: 100%;
        max-width: 368px;
        grid-column-start: 1;
        grid-column-end: 3;
        display: block;
    }
    .triple-banner{
        display: block;
        background: #E0E0E0;;
        height: 484px;
        width: 100%;
    }
    .bottom-cards {
        margin-top: calc(80px + 122px);
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 24px;
        /* column-gap: 16px; */
        justify-content: center;
        row-gap: 16px;
    }
}
@media screen and (min-width:769px) and (max-width:1280px){
    .top-cards{
        background: #E5E5E5;
        display: grid;
        grid-template-columns: repeat(2,max-content);
        gap: 20px;
        padding-bottom: 80px;
        justify-content: center;
    }
    
}

@media screen and (min-width:799px) and (max-width:1800px){
    .triple-banner-wrap{
        display: grid;
        grid-template-columns: repeat(2,max-content);
        column-gap: 14px;
        row-gap: 23;
        position: relative;
        top: 32px;
     }
     .triple-banner img{ 
         width: 100%;
         max-width: 278px;
         display: block;
     }
     img.image-last-colum{
         width: 100%;
         max-width: 568px;
         grid-column-start: 1;
         grid-column-end: 3;
         display: block;
     }
     .triple-banner{
         display: block;
         background: #E0E0E0;;
         height: 684px;
         width: 100%;
     }
     .bottom-cards {
        margin-top: calc(80px + 122px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 24px;
        /* column-gap: 16px; */
        justify-content: center;
        row-gap: 16px;
    }
}